@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

:root {
    --primary-color: #ffffff;
    --primary-color-transparent: rgba(255, 255, 255, 0.25);
    --secondary-color: #000000;

    --fade-delay: 0.25s;
    --fade-in-duration: 2s;
    --expand-duration: 0.5s;

    --main-font: 'Poiret One', cursive;
}

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

body {
    font-family: var(--main-font);
}

#toolbar {
    z-index: 4;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: transparent no-repeat center center/cover;
    z-index: 3;
}

#noise {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url('/assets/noisy-texture-transparent.png') repeat;
    opacity: 0.1;
    animation: noise 0.5s infinite linear;
    z-index: 1;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--secondary-color);
    z-index: 0;
}

/* Toolbar */
.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 5vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.toolbar a {
    margin: 0 1rem;
    color: var(--primary-color);
}

.toolbar a:hover{
    cursor: pointer;
    border-bottom: var(--primary-color-transparent) 1px solid;
}

/* Content */

/* Home */

.main-container {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100vw;
    height: 100vh;
}

/* Work */

.work-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.showcase-container {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.showcase-card {
    z-index: 4;
    position: relative;
    width: 15vw;
    height: 40vh;
    transition: width var(--expand-duration) ease-out, height var(--expand-duration) ease-out;
    opacity: 0;
}

.work-1 {
    background: url('/assets/IWTBAB.png') no-repeat center center/cover;
    transition: background 0.5s ease;
}

.work-2 {
    background: url('/assets/Amazonia.png') no-repeat center center/cover;
    transition: background 0.5s ease;
}

.work-3 {
    background: url('/assets/RoadToAztlan.png') no-repeat center center/cover;
    transition: background 0.5s ease;
}

.work-1:hover {
    background: url('/assets/IWTBAB.gif') no-repeat center center/cover;
}

.work-2:hover {
    background: url('/assets/Amazonia.gif') no-repeat center center/cover;
}

.work-3:hover {
    background: url('/assets/RTA2.gif') no-repeat center center/cover;
}

.showcase-card-cover {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--primary-color);
    opacity: 0.75;
    transition: opacity var(--expand-duration) ease-in-out;
}

.showcase-card:nth-child(even) {
    margin-top: 10vh;
}

.showcase-card:nth-child(odd) {
    margin-bottom: 10vh;
}

.showcase-card:hover {
    width: 20vw;
    height: 50vh;
}

.showcase-card-cover:hover {
    opacity: 0;
}

.info-container {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
}

/* Utilities */

.main-title {
    margin-left: 1rem;
    font-size: 6rem;

    color: var(--primary-color);
    opacity: 0;
}

.main-subtitle {
    margin-left: 1rem;
    font-size: 3rem;

    color: var(--primary-color);
    opacity: 0;
}

.rotate {
    animation: rotate 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.fade-in {
    animation: fade-in forwards var(--fade-in-duration) ease-in-out;
    animation-delay: calc(var(--fade-delay) * 2);
}

.fade-in-slow {
    animation: fade-in forwards var(--fade-in-duration) ease-in-out;
    animation-delay: calc(var(--fade-delay) * 4);
}

.hidden {
    display: none;
}

/* Animations */

@keyframes rotate {
    to {
      transform: rotate(360deg);
    }
}

@keyframes fade-in {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes noise {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 100%;
    }
}

/* Media Queries */

@media(max-width: 768px){
    .main-title {
        font-size: 10vw;
    }

    .main-subtitle {
        font-size: 5vw;
    }
}

@media(max-width: 1280px){
    .showcase-card {
        width: 20vw;
    }

    .showcase-card:hover {
        width: 25vw;
    }
}